* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./auction.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 8% 50%;
    background: #fff;
    padding: 2px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    height: 300px;
    transition: .5s;
}

.input-group1 {
    top: 180px;
    position: absolute;
    width: 280px;
    height: 300px;
    transition: .5s;
    position: overflow;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.input-group2 {
    top: 180px;
    position: absolute;
    width: 280px;
    height: auto;
    transition: .5s;
    position: overflow;
    overflow: hidden;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    bottom: 68px;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.buy {
    background-color: #EEEEEE;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    margin: 20px 100px;
}

.sell {
    background-color: #EEEEEE;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    margin: 100px 100px;
}

.danger {
    background-color: #FF0040;
    color: #FFFFFF;
}

.danger:hover {
    background-color: #EB003B;
    color: #FFFFFF;
}

.scrollable {
    height: 300px;
    overflow-y: scroll;
    top: 100px;
    margin-right: 0;
    margin: 25px 50px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: overflow;
}

h5 {
    color: #ffad06;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
}